@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  box-sizing: border-box;
  /* background-color: #ea6866; */
  background-color: #000;
  color: #fff;
  font-family: "Press Start 2P", sans-serif;
}

.container {
  width: 850px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

header {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.option {
  color: #fff;
  text-decoration: none;
}

h1 {
  /* color: #7afae3; */
  font-size: 3rem;
  margin: 1rem;
  margin-right: 0rem;
}

main div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

.float {
  display: none;
}

.social img {
  margin: 1rem;
}

.social img:hover {
  transform: scale(1.5);
}

.cursor {
  color: #fff;
  animation: 1s blink step-end infinite;
}

@keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: #fff;
  }
}
